################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/OutsidersHEW
/OutsidersHEW/x64/Debug
/x64/Debug
/.vs
/shaderPixel3D.cso
/shaderVertex3D.cso
